---
import '../styles/global.css';

const { title, description, lang = 'en' } = Astro.props as {
	title: string;
	description: string;
	lang?: string;
};
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
		<link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
